# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
ipch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
src/khunphan

# Autotools files
Makefile
stamp-h1
config.h.in~
config.h
config.status
config.log
autom4te.cache
libtool
.deps

# Visual Studio files
.vs/
Win32/
x64/
rebuild.bat
*.sdf
*.opensdf
*.VC.db
build/windows/lib*/
build/windows/freeglut/
build/windows/glew/
build/windows/zlib/
build/windows/lib*/
build/windows/SDL2*/
build/windows/*.tar.gz
build/windows/*.tar.xz
build/windows/*.tgz

# vi swap file
*.swp
